<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row class="high-toolbar text-center">
    <img class="title-image" src="assets/shiv.jpg" alt="">
  </mat-toolbar-row>
  <mat-toolbar-row class="text-center">
    <b>Shivguru Rao Bhimasenarao VisweswaraRao</b>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-tab-group class="demo-tab-group">
    <mat-tab label="about me">
      <app-about-me></app-about-me>
    </mat-tab>
    <mat-tab label="Work Experience">
      <app-work-experience></app-work-experience>
    </mat-tab>
    <mat-tab label="Education">
      <app-education></app-education>
    </mat-tab>
    <mat-tab label="Contact">
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
