.standard-card {
  max-width: 700px;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}

.mat-chip-list, .unset-whitespace {
  word-wrap: initial !important;
  white-space: initial !important;
}
