<div class="text-center">
  <mat-card class="standard-card">
    <mat-card-header>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        I am studying <b>MSc Informatics</b> at <b>Technische Universität München</b>. I am graduating by August, 2018 with <b>major in Software Engineering</b>. My main focus of studies is on Web technologies and its security.
        I have also gained valuable experience in <b>web development(Full-stack)</b> through my work at Intel GmbH and PAKX GmbH since July 2015.
      </p>
      <p>
        A code junkie. Web development fanatic. Passion drives me. Budding Web Developer with <b>main focus on Front-end development & JavaScript</b>.
        My secondary interest lies in the general concepts of Software engineering like Project Management and DevOps.
      </p>
      Currently looking for full time opportunities in following roles:
      <ul>
        <li><b>Front-End JavaScript developer(Angular or similar frameworks)</b></li>
        <li><b>Back-end Developer(PHP)</b></li>
        <li><b>Full-Stack developer with a focus on Front-End technologies</b></li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
<div class="text-center">
  <mat-card class="standard-card">
    <mat-card-header>
      <mat-card-title>
        How can you reach me?
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="align-center">
        <a color="primary" href="https://www.linkedin.com/in/shivguru-rao-bhimasenarao-visweswararao-48577b75" target="_blank" mat-fab> <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon></a>
        <a color="primary" href="https://github.com/shivguru" target="_blank" mat-fab> <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon></a>
        <a color="primary" href="mailto:shivguru.rao.91@gmail.com" mat-fab> <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon></a>
        <a color="primary" href="https://twitter.com/ShivguruRao" target="_blank" mat-fab> <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon></a>
        <a color="primary" href="tel:+4917645710717" mat-fab><mat-icon fontSet="fa" fontIcon="fa-phone"></mat-icon></a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
