<div class="text-center">
  <mat-card class="standard-card">
    <mat-card-header>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Graduating from TUM by July, 2018 with a <b>major in Software Engineering</b> and focus on Web technologies and its security.
        Gained experience in <b>web development ( Full-stack )</b> through my work as Work-student at PAKX Intel since July 2015.
      </p>
      <p>
        A code junkie. Web development fanatic. Passion drives me. Budding Web Developer with the <b>main focus on Front-end technologies & JavaScript</b>.
        My secondary interest lies in the general concepts of Software engineering like Project Management and DevOps.
      </p>
      Currently looking for full time opportunities in following roles:
      <ul>
        <li>Front-End JavaScript developer(Angular or similar)</li>
        <li>Back-end Developer(PHP)</li>
        <li>Full-Stack developer with a focus on Front-End technologies.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
